@media screen and (max-width:1024px){
    .themargin {
        margin-right:10vw;
        margin-left:10vw;
    }
    .video {
        margin: 0;
    }
}
@media screen and (min-width:1025px){
    .themargin {
        margin-right:20%;
        margin-left:20%;
    }
    .video {
        margin-right:10vw;
        margin-left:10vw;
    }
}